@import '../../../../styles/scss/shared.scss';

.container {
	color: #fff;
}

.el {
	position: relative;
	width: 100%;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		content: '';
		background: #00000080;
	}
}

.grid {
	display: grid;
	@include md {
		grid-template-columns: repeat(3, 1fr);
	}
}

.writing {
	padding: 8rem 2rem;
	width: 100%;
	position: relative;
	z-index: 3;
	display: grid;
	text-align: center;

	h3 {
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 2rem;
		line-height: 120%;
	}

	h3::first-letter {
		color: $mainLight;
	}
}
