@import '../.../../../../../../styles/scss/shared.scss';
.container {
  display: grid;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #00000020;

  h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: rgba($color: #000000, $alpha: 0.8);
    line-height: 125%;
    font-weight: 700;

    @include md {
      max-width: 70%;
    }
  }
  p {
    color: rgba($color: #000000, $alpha: 0.7);
  }
}
