@import '../../../../../styles/scss/shared.scss';

.wrapper {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	border: solid 1px rgba($color: #000000, $alpha: 0.07);
	padding: 1rem;
	@include md {
		padding: 1.5rem;
	}

	h4 {
		font-size: 1.5rem;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 140%;
		color: $mainLight;
	}
	color: rgba($color: #000000, $alpha: 0.7);
}
