@import '../../../../styles/scss/shared.scss';

.wrapper {
  width: 100%;
  padding: 10vh 0;
}

.subtitle {
  color: $mainLight;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.el {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: filter ease 0.4s;
  h3 {
    letter-spacing: 1px;
    margin-top: 2rem;
    @include md {
      font-size: 1.5rem;
    }
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 110%;
    transition: color 0.3s ease;
  }
  &:hover h3 {
    color: $mainLight;
  }

  .imgFilltoCenter {
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
  }

  &:hover {
    filter: opacity(70%);
  }
}

.r {
  @include md {
    column-gap: 5rem;
    row-gap: 5rem;
  }
}

.smallerTitle {
  @extend .baseTitle;

  font-size: 2.5rem;
  @include md {
    font-size: 3.5rem;
  }
}

.container {
  @extend .baseContainer;
  display: flex;
  flex-direction: column;
}

.sep {
  width: 100%;
  height: 1px;
  background: rgba($color: #000000, $alpha: 0.1);
  @include md {
    margin-top: 0;
    display: none;
  }
  &:last-child {
    display: none;
  }
}
