@import "../../../../../styles/scss/shared.scss";

.title {
  margin-left: 2.5rem;
  margin-bottom: 0.75rem;
  display: inline-block;
  position: relative;
  font-size: 2rem;

  @include md {
    font-size: 2.625rem;
  }
  font-weight: 700;
  color: $mainLight;
  text-shadow: 3px 3px $main;
  @include md {
    margin-left: 3rem;
  }
}

.titleContainer {
  position: relative;
  &::before {
    content: "";
    z-index: 7;

    position: absolute;
    background: linear-gradient(
      90deg,
      $mainLight 0%,
      rgba($color: $mainLight, $alpha: 0.1) 100%
    );
    bottom: 0;
    left: 0;
    width: 6rem;
    height: 0.25rem;
  }
}

.writing {
  font-weight: 500;
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  font-size: 1.125rem;

  @include md {
    margin-left: 2rem;
  }
}
