@import '../../../../styles/scss/shared.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.3);
}

.container {
  display: grid;
  place-items: center;
  width: 92%;
  height: calc((92vw * 9) / 16);
  @include md {
    width: 75%;
    height: calc((70vw * 9) / 16);
  }
}
