@import '../fonts/work-sans/index.css';
@import '../fonts/poppins/index.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* header font  */

header {
	font-family: 'Poppins', sans-serif;
}

/* WARNING ONLY USE FOR PROD */
body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.mcontainer {
	max-width: 1300px;
	margin: auto;
	padding: 0rem 1rem;
}

img {
	color: transparent;
}
